.footer {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #282c34;
    color: #fff;
    flex-direction: column;
}

  
.footer .react_ts {
    margin-bottom: 1em;
}
  
  .footer span {
    font-weight: bold;
    color: #61dafb;

  }
  